.marquee-container {
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
  position: relative;
  white-space: nowrap;
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000 20%, #000 80%, rgba(0, 0, 0, 0));
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), #000 20%, #000 80%, rgba(0, 0, 0, 0));
}

.marquee-content {
  display: flex;
  animation: marquee 35s linear infinite;
  width: 200%; /* Ensures seamless loop */
}

.marquee-item {
  flex: 0 0 auto;
  padding: 0 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Pause animation on hover */
/* .marquee-container:hover .marquee-content {
  animation-play-state: paused;
} */
